http-server.http.port=8080

coordinator=false
discovery-server.enabled=false	

node-scheduler.include-coordinator=true

discovery.uri=http://{{PRESTO_COORDINATOR_IP}}:8080

exchange.http-client.max-connections=1000
exchange.http-client.max-connections-per-server=1000
exchange.http-client.connect-timeout=1m
exchange.http-client.request-timeout=120s
exchange.http-client.idle-timeout=1m

query.client.timeout=1m
query.max-age=10m
query.max-memory-per-node={{QUERY_MAX__MEMORY__PER__NODE}}

exchange.compression-enabled=true
optimizer.optimize-mixed-distinct-aggregations=true
#experimental.spill-enabled=true
#experimental.spiller-spill-path=/tmp/presto-spill
optimizer.optimize-metadata-queries=true
colocated-joins-enabled=true

presto.version={{PRESTO_VERSION}}
#distributed-joins-enabled=true
