stream.source=kinesis
kinesis.stream={{KINESIS_STREAM}}
kinesis.consumer-dynamodb-table={{KINESIS_CONSUMER_DYNAMODB_TABLE}}
aws.s3-bulk-bucket={{AWS_S3__BULK__BUCKET}}
aws.region={{AWS_REGION}}

raptor.metadata.url=jdbc:mysql://{{DB_ADDRESS}}/{{DB_NAME}}?user={{DB_USERNAME}}&password={{DB_PASSWORD}}
raptor.node.id={{RAPTOR_NODE_ID}}
raptor.aws.s3-bucket={{RAPTOR_AWS_S3__BUCKET}}
raptor.aws.region={{RAPTOR_AWS_REGION}}